.benefits {
    padding: 70px 0 67px 0;
    background-color: #F6F6F6;
    &_block {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
    }
    &_descr_header {
        margin-top: 35px;
        color: #0d0d0d;
        font-size: 18px;
        font-family: 'Museo Sans Cyrl', sans-serif;
        font-weight: 700;
        text-align: center;
    }
    &_descr_subheader {
        margin-top: 26px;
        color: #0d0d0d;
        font-size: 14px;
        font-family: 'Museo Sans Cyrl', sans-serif;
        font-weight: 300;
        text-align: center;
        a {
            color: #FF0000;
            text-decoration: underline;
        }
    }
    &__icon {
        &_animated {
            animation-name: heartbeat;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}