.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../../img/bg2.jpg') center (center/cover) no-repeat;
    &__descr {
        color: #fff;
        font-size: 20px;
        font-family: 'Museo Sans Cyrl', sans-serif; 
        font-weight: 500;
    }
}