.title {
    color: #0d0d0d;
    font-size: 30px;
    font-family: 'Museo Sans Cyrl', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &_left {
        font-size: 36px;
        text-align: left;
        color: #fff;
    }
}